.presentacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d1cece;
    
    /* background-color: aqua; */
}
.presentacion-escrito{

    display: grid;
    grid-template-areas: 
    "titulo"
    "subtitulo"
    "contacto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* padding: 10px;   */
    /* background-color: aquamarine;  */
    /* height: auto; */
    margin-right: 30px;
    
}
.presentacion-titulo{
    grid-area: titulo;
    font-size: 40px;
    font-weight: light;
    padding: 0px 10px;
    margin-bottom: 50px;
    
}
.presentacion-subtitulo{
    grid-area: subtitulo;
    font-size: 20px;
    font-weight: 200;
    padding: 0 10px;
    margin-bottom: 50px;

}
.presentacion-nav{
    grid-area: contacto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
}
.presentacion-nav-link{
    text-decoration: none;
    font-size: 20px;
    color: #000000b6;
    /* padding-top: 50px; */
    
}
.presentacion-imagen{
    width: 60%;
    border-radius: 200px ;
    /* background-color: bisque; */
    text-align: center;
    padding: 10px 0px;
   
}