.presentacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d1cece;
    
    /* background-color: aqua; */
}
.presentacion-escrito{

    display: grid;
    grid-template-areas: 
    "titulo"
    "subtitulo"
    "contacto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* padding: .5rem;   */
    /* background-color: aquamarine;  */
    /* height: auto; */
    margin-right: 1.5rem;
    
}
.presentacion-titulo{
    grid-area: titulo;
    font-size: 2rem;
    font-weight: light;
    padding: 0px .5rem;
    margin-bottom: 2.5rem;
    
}
.presentacion-subtitulo{
    grid-area: subtitulo;
    line-height: 1.25;
    font-size: 1rem;
    font-weight: 200;
    padding: 0 .5rem;
    margin-bottom: 2.5rem;

}
.presentacion-nav{
    grid-area: contacto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 .5rem;
}
.presentacion-nav-link{
    text-decoration: none;
    font-size: 1rem;
    color: #000000b6;
    /* padding-top: 2.5rem; */
    
}
.presentacion-imagen{
    width: 60%;
    border-radius: 10rem ;
    /* background-color: bisque; */
    text-align: center;
    padding: .5rem 0px;
   
}